In this notebook i will practice some Pandas skills. To understand what I need to practice, I will follow Hadley Wickham's Grammar of Data Manipulation. There, he makes the point that all we need is a few statements; most of which are very similar to SQL statements. I will try to replicate them here using Pandas. I'm using this link: https://gist.github.com/conormm/fd8b1980c28dd21cfaf6975c86c74d07

In [5]:
# Import packages
import pandas as pd

In [103]:
#read the data 
df = pd.read_csv(r"D:\Data Science Folder\Data\NFL_pbpdata_2009_2018.csv")

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
#Take a look at the names of the columns
pd.DataFrame(df.columns)

                                 0
0                          play_id
1                          game_id
2                        home_team
3                        away_team
4                          posteam
5                     posteam_type
6                          defteam
7                    side_of_field
8                     yardline_100
9                        game_date
10       quarter_seconds_remaining
11          half_seconds_remaining
12          game_seconds_remaining
13                       game_half
14                     quarter_end
15                           drive
16                              sp
17                             qtr
18                            down
19                      goal_to_go
20                            time
21                           yrdln
22                         ydstogo
23                          ydsnet
24                            desc
25                       play_type
26                    yards_gained
27                         shotgun
28                       no_huddle
29                     qb_dropback
..                             ...
225     pass_defense_1_player_name
226       pass_defense_2_player_id
227     pass_defense_2_player_name
228                 fumbled_1_team
229            fumbled_1_player_id
230          fumbled_1_player_name
231            fumbled_2_player_id
232          fumbled_2_player_name
233                 fumbled_2_team
234         fumble_recovery_1_team
235        fumble_recovery_1_yards
236    fumble_recovery_1_player_id
237  fumble_recovery_1_player_name
238         fumble_recovery_2_team
239        fumble_recovery_2_yards
240    fumble_recovery_2_player_id
241  fumble_recovery_2_player_name
242                    return_team
243                   return_yards
244                   penalty_team
245              penalty_player_id
246            penalty_player_name
247                  penalty_yards
248            replay_or_challenge
249     replay_or_challenge_result
250                   penalty_type
251    defensive_two_point_attempt
252       defensive_two_point_conv
253  defensive_extra_point_attempt
254     defensive_extra_point_conv

[255 rows x 1 columns]

In [14]:
#let's take a look at the top rows
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [69]:
### Executing a SELECT statement. My preferred method are using .loc and .iloc 

## Using .loc and the column label to select one column
# df.loc[:,'game_id'] #Use one set of brackets for an Array
# df.loc[:,['game_id']] #Use two sets of brackets for a dataframe

## We can also select multiple columns using .loc and the labels
# df.loc[:,['play_id', 'game_id']]

## Using .iloc and the index 
#df.iloc[:,2] #One sets of brackets for an Array
#df.iloc[:,[2]] #Two sets of brackets for a Dataframe

## Or we can select multiple columns using the indexes
#df.iloc[:, [1,3,5]]
## Most importantly, we can select ranges
df.iloc[:,1:5] #No need for two sets of brackets here.

           game_id away_team posteam_type
0       2009091000       TEN         home
1       2009091000       TEN         home
2       2009091000       TEN         home
3       2009091000       TEN         home
4       2009091000       TEN         home
5       2009091000       TEN         away
6       2009091000       TEN         away
7       2009091000       TEN         away
8       2009091000       TEN         away
9       2009091000       TEN         home
10      2009091000       TEN         home
11      2009091000       TEN         home
12      2009091000       TEN         home
13      2009091000       TEN         home
14      2009091000       TEN         home
15      2009091000       TEN         away
16      2009091000       TEN         away
17      2009091000       TEN         away
18      2009091000       TEN         away
19      2009091000       TEN         away
20      2009091000       TEN         away
21      2009091000       TEN         home
22      2009091000       TEN         home
23      2009091000       TEN         home
24      2009091000       TEN         home
25      2009091000       TEN         away
26      2009091000       TEN         away
27      2009091000       TEN         away
28      2009091000       TEN         away
29      2009091000       TEN         away
...            ...       ...          ...
449341  2018121700        NO         home
449342  2018121700        NO         away
449343  2018121700        NO         away
449344  2018121700        NO         away
449345  2018121700        NO         away
449346  2018121700        NO         away
449347  2018121700        NO         away
449348  2018121700        NO         away
449349  2018121700        NO         away
449350  2018121700        NO         away
449351  2018121700        NO         away
449352  2018121700        NO         away
449353  2018121700        NO         away
449354  2018121700        NO         away
449355  2018121700        NO         away
449356  2018121700        NO          NaN
449357  2018121700        NO         away
449358  2018121700        NO         away
449359  2018121700        NO         away
449360  2018121700        NO         away
449361  2018121700        NO         away
449362  2018121700        NO         home
449363  2018121700        NO         home
449364  2018121700        NO         home
449365  2018121700        NO         home
449366  2018121700        NO         home
449367  2018121700        NO         home
449368  2018121700        NO         home
449369  2018121700        NO         away
449370  2018121700        NO          NaN

[449371 rows x 3 columns]

In [111]:
#### Executing a FILTER statement. 
### First, let's look at "subsetting" as a precursor to filtering. That means selecting rows, instead of columns. 

## You can theoretically subset with .loc and label indexes, but i rarely use that so it will be ignored. 

## With .iloc, however, it's very intuitive - just as in MATLAB or R
#df.iloc[0:5,:] # You can ignore the columns if you want. 

### Now we come to Filtering. This happens mostly with df[CONDITION]
df[df['game_id'] == 2018121700] #You have to pass the condition as an array (not a dataframe)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
449202,36,2018121700,CAR,NO,CAR,home,NO,NO,35.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449203,51,2018121700,CAR,NO,CAR,home,NO,CAR,75.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449204,73,2018121700,CAR,NO,CAR,home,NO,CAR,71.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449205,98,2018121700,CAR,NO,CAR,home,NO,CAR,63.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449206,120,2018121700,CAR,NO,CAR,home,NO,CAR,63.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449207,142,2018121700,CAR,NO,CAR,home,NO,CAR,54.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449208,164,2018121700,CAR,NO,CAR,home,NO,CAR,51.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449209,186,2018121700,CAR,NO,CAR,home,NO,NO,46.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449210,206,2018121700,CAR,NO,CAR,home,NO,CAR,56.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449211,231,2018121700,CAR,NO,CAR,home,NO,MID,50.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449212,250,2018121700,CAR,NO,NO,away,CAR,NO,86.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449213,272,2018121700,CAR,NO,NO,away,CAR,NO,81.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449214,294,2018121700,CAR,NO,NO,away,CAR,NO,81.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449215,319,2018121700,CAR,NO,NO,away,CAR,NO,60.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449216,341,2018121700,CAR,NO,NO,away,CAR,NO,54.0,2018-12-17,...,00-0034317,K.Kirkwood,10.0,0,NaN,Offensive Pass Interference,0.0,0.0,0.0,0.0
449217,377,2018121700,CAR,NO,NO,away,CAR,NO,64.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449218,408,2018121700,CAR,NO,NO,away,CAR,NO,56.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449219,430,2018121700,CAR,NO,NO,away,CAR,NO,56.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449220,449,2018121700,CAR,NO,CAR,home,NO,CAR,90.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449221,475,2018121700,CAR,NO,CAR,home,NO,CAR,90.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449222,497,2018121700,CAR,NO,CAR,home,NO,CAR,90.0,2018-12-17,...,00-0034344,M.Davenport,15.0,0,NaN,Roughing the Passer,0.0,0.0,0.0,0.0
449223,533,2018121700,CAR,NO,CAR,home,NO,CAR,58.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449224,555,2018121700,CAR,NO,CAR,home,NO,CAR,56.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449225,585,2018121700,CAR,NO,CAR,home,NO,CAR,57.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449226,610,2018121700,CAR,NO,CAR,home,NO,MID,50.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449227,638,2018121700,CAR,NO,CAR,home,NO,NO,15.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449228,654,2018121700,CAR,NO,NO,away,CAR,CAR,35.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449229,677,2018121700,CAR,NO,NO,away,CAR,NO,51.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449230,708,2018121700,CAR,NO,NO,away,CAR,CAR,29.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449231,730,2018121700,CAR,NO,NO,away,CAR,CAR,29.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449341,3464,2018121700,CAR,NO,CAR,home,NO,CAR,58.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449342,3483,2018121700,CAR,NO,NO,away,CAR,NO,65.0,2018-12-17,...,00-0030065,L.Warford,5.0,0,NaN,False Start,0.0,0.0,0.0,0.0
449343,3506,2018121700,CAR,NO,NO,away,CAR,NO,70.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449344,3528,2018121700,CAR,NO,NO,away,CAR,NO,65.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449345,3548,2018121700,CAR,NO,NO,away,CAR,NO,69.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449346,3573,2018121700,CAR,NO,NO,away,CAR,MID,50.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449347,3604,2018121700,CAR,NO,NO,away,CAR,CAR,43.0,2018-12-17,...,00-0033357,T.Hill,10.0,0,NaN,Offensive Holding,0.0,0.0,0.0,0.0
449348,3637,2018121700,CAR,NO,NO,away,CAR,CAR,43.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449349,3654,2018121700,CAR,NO,NO,away,CAR,CAR,48.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449350,3679,2018121700,CAR,NO,NO,away,CAR,CAR,39.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449351,3701,2018121700,CAR,NO,NO,away,CAR,CAR,23.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449352,3723,2018121700,CAR,NO,NO,away,CAR,CAR,22.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449353,3745,2018121700,CAR,NO,NO,away,CAR,CAR,23.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449354,3770,2018121700,CAR,NO,NO,away,CAR,CAR,23.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449355,3787,2018121700,CAR,NO,NO,away,CAR,CAR,14.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449356,3809,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
449357,3826,2018121700,CAR,NO,NO,away,CAR,CAR,11.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449358,3848,2018121700,CAR,NO,NO,away,CAR,CAR,11.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449359,3865,2018121700,CAR,NO,NO,away,CAR,CAR,8.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449360,3887,2018121700,CAR,NO,NO,away,CAR,CAR,8.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449361,3904,2018121700,CAR,NO,NO,away,CAR,CAR,5.0,2018-12-17,...,NaN,NaN,NaN,1,upheld,NaN,0.0,0.0,0.0,0.0
449362,3949,2018121700,CAR,NO,CAR,home,NO,CAR,80.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449363,3980,2018121700,CAR,NO,CAR,home,NO,CAR,71.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449364,4002,2018121700,CAR,NO,CAR,home,NO,CAR,71.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449365,4027,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449366,4059,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449367,4081,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449368,4106,2018121700,CAR,NO,CAR,home,NO,CAR,61.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449369,4128,2018121700,CAR,NO,NO,away,CAR,CAR,39.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449370,4150,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN